Repository be-wise-be-kind/thai-lint: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-ruff, python-flake8, python-mypy, python-pylint, python-bandit, python-xenon, typescript-check, eslint, stylelint, prettier-check, design-linters, no-skip-enforcement

python-ruff:
  name: Ruff (Python format + lint)
  ...

python-flake8:
  name: Flake8 (Python style)
  ...

python-mypy:
  name: MyPy (Python type checking)
  ...

python-pylint:
  name: Pylint (Python code analysis)
  ...

python-bandit:
  name: Bandit (Python security)
  ...

python-xenon:
  name: Xenon (Python complexity)
  ...

typescript-check:
  name: TypeScript type checking
  ...

eslint:
  name: ESLint (JavaScript/TypeScript)
  ...

stylelint:
  name: Stylelint (CSS)
  ...

prettier-check:
  name: Prettier (Frontend formatting)
  ...

design-linters:
  name: Custom design linters
  ...

no-skip-enforcement:
  name: Linting rule skip enforcement
  ...

feat(build): Replace make with just and add improved output formatting
  .ai/docs/PRE_COMMIT_STANDARDS.md
  .ai/docs/readme-standards.md
  .ai/howtos/how-to-configure-code-scanning.md
  .ai/howtos/how-to-create-readme.md
  .ai/howtos/how-to-debug-failing-hooks.md
  .ai/howtos/how-to-fix-linting-errors.md
  .ai/howtos/how-to-install-pre-commit.md
  .ai/howtos/how-to-refactor-for-quality.md
  .ai/howtos/how-to-write-tests.md
  .ai/index.yaml
  .github/workflows/lint.yml
  .github/workflows/publish-pypi.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  .roadmap/complete/enterprise-linter/PROGRESS_TRACKER.md
  .roadmap/complete/nesting-linter/AI_CONTEXT.md
  .roadmap/complete/nesting-linter/PROGRESS_TRACKER.md
  .roadmap/complete/nesting-linter/PR_BREAKDOWN.md
  .roadmap/complete/nesting-linter/VIOLATIONS.md
  .roadmap/complete/python-cli-install/AI_CONTEXT.md
  .roadmap/complete/python-cli-install/PR_BREAKDOWN.md
  .roadmap/complete/srp-linter/AI_CONTEXT.md
  .roadmap/complete/srp-linter/PROGRESS_TRACKER.md
  .roadmap/complete/srp-linter/PR_BREAKDOWN.md
  .roadmap/complete/srp-linter/VIOLATIONS.md
  .roadmap/in-progress/dry-linter/AI_CONTEXT.md
  .roadmap/in-progress/dry-linter/PROGRESS_TRACKER.md
  .roadmap/in-progress/dry-linter/VIOLATIONS.md
  AGENTS.md
  CHANGELOG.md
  README.md
  docs/pre-commit-hooks.md
  docs/publishing-checklist.md
  docs/releasing.md
  docs/srp-linter.md
  justfile
Due: design-linters

fix(ci): Install just command runner in GitHub Actions workflows
  .github/workflows/lint.yml
  .github/workflows/publish-pypi.yml
  .github/workflows/test.yml
Due: none

feat(build): Replace make with just and add improved output formatting (#27)
  .ai/docs/PRE_COMMIT_STANDARDS.md
  .ai/docs/readme-standards.md
  .ai/howtos/how-to-configure-code-scanning.md
  .ai/howtos/how-to-create-readme.md
  .ai/howtos/how-to-debug-failing-hooks.md
  .ai/howtos/how-to-fix-linting-errors.md
  .ai/howtos/how-to-install-pre-commit.md
  .ai/howtos/how-to-refactor-for-quality.md
  .ai/howtos/how-to-write-tests.md
  .ai/index.yaml
  .github/workflows/lint.yml
  .github/workflows/publish-pypi.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  .roadmap/complete/enterprise-linter/PROGRESS_TRACKER.md
  .roadmap/complete/nesting-linter/AI_CONTEXT.md
  .roadmap/complete/nesting-linter/PROGRESS_TRACKER.md
  .roadmap/complete/nesting-linter/PR_BREAKDOWN.md
  .roadmap/complete/nesting-linter/VIOLATIONS.md
  .roadmap/complete/python-cli-install/AI_CONTEXT.md
  .roadmap/complete/python-cli-install/PR_BREAKDOWN.md
  .roadmap/complete/srp-linter/AI_CONTEXT.md
  .roadmap/complete/srp-linter/PROGRESS_TRACKER.md
  .roadmap/complete/srp-linter/PR_BREAKDOWN.md
  .roadmap/complete/srp-linter/VIOLATIONS.md
  .roadmap/in-progress/dry-linter/AI_CONTEXT.md
  .roadmap/in-progress/dry-linter/PROGRESS_TRACKER.md
  .roadmap/in-progress/dry-linter/VIOLATIONS.md
  AGENTS.md
  CHANGELOG.md
  README.md
  docs/pre-commit-hooks.md
  docs/publishing-checklist.md
  docs/releasing.md
  docs/srp-linter.md
  justfile
Due: design-linters

fix: Refactor TypeScript analyzer to A-grade complexity and add DRY linter docs
  README.md
  docs/api-reference.md
  docs/cli-reference.md
  docs/configuration.md
  docs/deployment-modes.md
  docs/dry-linter.md
  docs/file-placement-linter.md
  docs/getting-started.md
  docs/nesting-linter.md
  docs/pre-commit-hooks.md
  docs/publishing-checklist.md
  docs/releasing.md
  docs/srp-linter.md
  src/linters/dry/typescript_analyzer.py
  tests/unit/linters/dry/test_typescript_duplicates.py
  tests/unit/linters/dry/test_typescript_jsdoc_filtering.py
  tests/unit/linters/dry/test_typescript_single_statements.py
Due: python-ruff, python-flake8, python-pylint, python-bandit, design-linters, no-skip-enforcement

fix: Refactor TypeScript analyzer to A-grade complexity and add DRY linter docs (#28)
  README.md
  docs/api-reference.md
  docs/cli-reference.md
  docs/configuration.md
  docs/deployment-modes.md
  docs/dry-linter.md
  docs/file-placement-linter.md
  docs/getting-started.md
  docs/nesting-linter.md
  docs/pre-commit-hooks.md
  docs/publishing-checklist.md
  docs/releasing.md
  docs/srp-linter.md
  src/linters/dry/typescript_analyzer.py
  tests/unit/linters/dry/test_typescript_duplicates.py
  tests/unit/linters/dry/test_typescript_jsdoc_filtering.py
  tests/unit/linters/dry/test_typescript_single_statements.py
Due: python-ruff, python-flake8, python-pylint, python-bandit, design-linters, no-skip-enforcement

feat(roadmap): Add comprehensive roadmap for magic numbers linter
  .roadmap/planning/magic-numbers-linter/AI_CONTEXT.md
  .roadmap/planning/magic-numbers-linter/PROGRESS_TRACKER.md
  .roadmap/planning/magic-numbers-linter/PR_BREAKDOWN.md
  README.md
  docs/cli-reference.md
  docs/deployment-modes.md
  src/cli.py
Due: python-ruff, python-flake8, python-pylint, python-bandit, design-linters, no-skip-enforcement

feat(roadmap): Add comprehensive roadmap for magic numbers linter (#29)
  .roadmap/planning/magic-numbers-linter/AI_CONTEXT.md
  .roadmap/planning/magic-numbers-linter/PROGRESS_TRACKER.md
  .roadmap/planning/magic-numbers-linter/PR_BREAKDOWN.md
  README.md
  docs/cli-reference.md
  docs/deployment-modes.md
  src/cli.py
Due: python-ruff, python-flake8, python-pylint, python-bandit, design-linters, no-skip-enforcement

feat(cli): Add multiple file support to CLI and orchestrator for pre-commit integration
  src/cli.py
  src/orchestrator/core.py
  tests/integration/test_cli_multiple_files.py
  tests/unit/orchestrator/test_orchestrator.py
Due: python-ruff, python-flake8, python-pylint, python-bandit, design-linters, no-skip-enforcement

feat(cli): Add multiple file support to CLI and orchestrator for pre-commit integration (#30)
  src/cli.py
  src/orchestrator/core.py
  tests/integration/test_cli_multiple_files.py
  tests/unit/orchestrator/test_orchestrator.py
Due: python-ruff, python-flake8, python-pylint, python-bandit, design-linters, no-skip-enforcement

feat(tests): Add comprehensive test suite for Python magic numbers linter
  .roadmap/planning/magic-numbers-linter/PROGRESS_TRACKER.md
  tests/unit/linters/magic_numbers/__init__.py
  tests/unit/linters/magic_numbers/conftest.py
  tests/unit/linters/magic_numbers/test_config_loading.py
  tests/unit/linters/magic_numbers/test_edge_cases.py
  tests/unit/linters/magic_numbers/test_ignore_directives.py
  tests/unit/linters/magic_numbers/test_python_magic_numbers.py
Due: python-ruff, python-flake8, python-pylint, python-bandit, design-linters, no-skip-enforcement

docs: Update documentation for multiple file support from PR #30
  README.md
  docs/cli-reference.md
  docs/deployment-modes.md
  docs/getting-started.md
  docs/pre-commit-hooks.md
Due: design-linters

docs: Update documentation for multiple file support from PR #30 (#31)
  README.md
  docs/cli-reference.md
  docs/deployment-modes.md
  docs/getting-started.md
  docs/pre-commit-hooks.md
Due: design-linters

fix: Improve Docker path validation and publish workflow
  CHANGELOG.md
  justfile
  pyproject.toml
  src/cli.py
Due: python-ruff, python-flake8, python-pylint, python-bandit, design-linters, no-skip-enforcement

feat(magic-numbers): Implement Python magic numbers linter (PR2 - TDD GREEN)
  src/linters/magic_numbers/__init__.py
  src/linters/magic_numbers/config.py
  src/linters/magic_numbers/context_analyzer.py
  src/linters/magic_numbers/linter.py
  src/linters/magic_numbers/python_analyzer.py
  src/linters/magic_numbers/violation_builder.py
Due: python-ruff, python-flake8, python-pylint, python-bandit, design-linters, no-skip-enforcement

feat(magic-numbers): Implement Python magic numbers linter (PR2 - TDD GREEN) (#33)
  .roadmap/planning/magic-numbers-linter/PROGRESS_TRACKER.md
  src/linters/magic_numbers/__init__.py
  src/linters/magic_numbers/config.py
  src/linters/magic_numbers/context_analyzer.py
  src/linters/magic_numbers/linter.py
  src/linters/magic_numbers/python_analyzer.py
  src/linters/magic_numbers/violation_builder.py
  tests/unit/linters/magic_numbers/__init__.py
  tests/unit/linters/magic_numbers/conftest.py
  tests/unit/linters/magic_numbers/test_config_loading.py
  tests/unit/linters/magic_numbers/test_edge_cases.py
  tests/unit/linters/magic_numbers/test_ignore_directives.py
  tests/unit/linters/magic_numbers/test_python_magic_numbers.py
Due: python-ruff, python-flake8, python-pylint, python-bandit, design-linters, no-skip-enforcement

docs(roadmap): Mark DRY Linter roadmap as complete
  .roadmap/complete/dry-linter/AI_CONTEXT.md
  .roadmap/complete/dry-linter/PROGRESS_TRACKER.md
  .roadmap/complete/dry-linter/PR_BREAKDOWN.md
  .roadmap/complete/dry-linter/VIOLATIONS.md
Due: design-linters

fix: Improve Docker path validation and publish workflow (#32)
  CHANGELOG.md
  justfile
  pyproject.toml
  src/cli.py
Due: python-ruff, python-flake8, python-pylint, python-bandit, design-linters, no-skip-enforcement

docs(roadmap): Mark DRY Linter roadmap as complete (#34)
  .roadmap/complete/dry-linter/AI_CONTEXT.md
  .roadmap/complete/dry-linter/PROGRESS_TRACKER.md
  .roadmap/complete/dry-linter/PR_BREAKDOWN.md
  .roadmap/complete/dry-linter/VIOLATIONS.md
Due: design-linters

refactor(dry): Replace cache persistence with storage_mode config
  src/linters/dry/cache.py
  src/linters/dry/config.py
  src/linters/dry/storage_initializer.py
Due: python-ruff, python-flake8, python-pylint, python-bandit, design-linters, no-skip-enforcement

refactor(dry): Simplify FileAnalyzer and DuplicateStorage
  .coverage.AZLNXSJACKSON.1489022.XnPoyepx
  .coverage.AZLNXSJACKSON.1489022.XuaTFPOx
  .coverage.AZLNXSJACKSON.1489024.XISqCQJx
  .coverage.AZLNXSJACKSON.1489024.XZJWLQDx
  src/linters/dry/duplicate_storage.py
  src/linters/dry/file_analyzer.py
  src/linters/dry/linter.py
Due: python-ruff, python-flake8, python-pylint, python-bandit, design-linters, no-skip-enforcement

test(dry): Remove cache tests and add storage_mode tests
  tests/unit/linters/dry/test_cache_operations.py
  tests/unit/linters/dry/test_config_loading.py
Due: python-ruff, python-flake8, python-pylint, python-bandit, design-linters, no-skip-enforcement

chore(config): Update configs to use storage_mode instead of cache
  .gitignore
  .thailint.yaml
Due: none

docs(dry): Update dry-linter.md to reflect storage_mode changes (part 1)
  docs/dry-linter.md
Due: design-linters

docs(dry): Complete dry-linter.md updates for storage_mode
  docs/dry-linter.md
Due: design-linters

docs: Update configuration.md to reflect storage_mode changes
  docs/configuration.md
Due: design-linters

chore: Add .coverage.* pattern to gitignore
  .gitignore
Due: none

docs: Update README.md to remove cache persistence references
  README.md
Due: design-linters

docs: Update cli-reference.md to remove cache flags and references
  docs/cli-reference.md
Due: design-linters

docs: Update getting-started.md to remove cache examples
  docs/getting-started.md
Due: design-linters

chore: Remove tracked coverage files
  .coverage.AZLNXSJACKSON.1489022.XnPoyepx
  .coverage.AZLNXSJACKSON.1489022.XuaTFPOx
  .coverage.AZLNXSJACKSON.1489024.XISqCQJx
  .coverage.AZLNXSJACKSON.1489024.XZJWLQDx
Due: none

feat(tests): Add comprehensive test suite for TypeScript magic numbers linter
  .roadmap/planning/magic-numbers-linter/PROGRESS_TRACKER.md
  tests/unit/linters/magic_numbers/test_typescript_magic_numbers.py
Due: python-ruff, python-flake8, python-pylint, python-bandit, design-linters, no-skip-enforcement

refactor(dry): Remove cache persistence and replace with storage_mode (#35)
  .gitignore
  .thailint.yaml
  README.md
  docs/cli-reference.md
  docs/configuration.md
  docs/dry-linter.md
  docs/getting-started.md
  src/linters/dry/cache.py
  src/linters/dry/config.py
  src/linters/dry/duplicate_storage.py
  src/linters/dry/file_analyzer.py
  src/linters/dry/linter.py
  src/linters/dry/storage_initializer.py
  tests/unit/linters/dry/test_cache_operations.py
  tests/unit/linters/dry/test_config_loading.py
Due: python-ruff, python-flake8, python-pylint, python-bandit, design-linters, no-skip-enforcement

feat(magic-numbers): Implement TypeScript/JavaScript magic numbers detection (PR4 - TDD GREEN)
  src/linters/magic_numbers/linter.py
  src/linters/magic_numbers/typescript_analyzer.py
  src/linters/magic_numbers/violation_builder.py
  tests/unit/linters/magic_numbers/test_typescript_magic_numbers.py
Due: python-ruff, python-flake8, python-pylint, python-bandit, design-linters, no-skip-enforcement

docs(roadmap): Update progress tracker - PR4 TypeScript magic numbers complete
  .roadmap/planning/magic-numbers-linter/PROGRESS_TRACKER.md
Due: design-linters

feat(testing): Add test deduplication analysis and removal tools
  pyproject.toml
  scripts/TEST_OPTIMIZATION_README.md
  scripts/analyze_test_coverage.py
  scripts/batch_remove_tests.py
  scripts/optimize_tests.sh
  scripts/remove_redundant_tests.py
Due: python-ruff, python-flake8, python-pylint, python-bandit, design-linters, no-skip-enforcement

test: Mark 231 duplicate tests as skipped
  tests/integration/test_cli_multiple_files.py
  tests/integration/test_e2e_cli.py
  tests/integration/test_e2e_library.py
  tests/integration/test_performance.py
  tests/integration/test_real_world.py
  tests/test_cli.py
  tests/unit/api/test_library_api.py
  tests/unit/core/test_base_interfaces.py
  tests/unit/core/test_rule_registry.py
  tests/unit/integration/test_file_placement_integration.py
  tests/unit/integration/test_nesting_integration.py
  tests/unit/linter_config/test_config_loader.py
  tests/unit/linter_config/test_ignore_directives.py
  tests/unit/linters/dry/test_block_filters.py
  tests/unit/linters/dry/test_config_loading.py
  tests/unit/linters/dry/test_cross_file_detection.py
  tests/unit/linters/dry/test_docstring_false_positives.py
  tests/unit/linters/dry/test_docstring_filtering.py
  tests/unit/linters/dry/test_edge_cases.py
  tests/unit/linters/dry/test_ignore_directives.py
  tests/unit/linters/dry/test_library_api.py
  tests/unit/linters/dry/test_min_occurrences.py
  tests/unit/linters/dry/test_python_duplicates.py
  tests/unit/linters/dry/test_single_statement_detection.py
  tests/unit/linters/dry/test_single_statement_multiline.py
  tests/unit/linters/dry/test_typescript_duplicates.py
  tests/unit/linters/dry/test_typescript_jsdoc_filtering.py
  tests/unit/linters/dry/test_typescript_single_statements.py
  tests/unit/linters/dry/test_violation_messages.py
  tests/unit/linters/dry/test_within_file_detection.py
  tests/unit/linters/file_placement/test_allow_patterns.py
  tests/unit/linters/file_placement/test_config_loading.py
  tests/unit/linters/file_placement/test_config_swap.py
  tests/unit/linters/file_placement/test_deny_patterns.py
  tests/unit/linters/file_placement/test_directory_scoping.py
  tests/unit/linters/file_placement/test_ignore_directives.py
  tests/unit/linters/file_placement/test_output_formatting.py
  tests/unit/linters/magic_numbers/test_config_loading.py
  tests/unit/linters/magic_numbers/test_edge_cases.py
Due: python-ruff, python-flake8, python-pylint, python-bandit, design-linters, no-skip-enforcement

test: Mark ALL 409 duplicate tests as skipped (64% reduction)
  scripts/remove_all_100pct_duplicates.py
  scripts/skip_duplicate_tests.py
  tests/unit/linters/magic_numbers/test_edge_cases.py
  tests/unit/linters/magic_numbers/test_ignore_directives.py
  tests/unit/linters/magic_numbers/test_python_magic_numbers.py
  tests/unit/linters/nesting/test_cli_interface.py
  tests/unit/linters/nesting/test_config_loading.py
  tests/unit/linters/nesting/test_edge_cases.py
  tests/unit/linters/nesting/test_ignore_directives.py
  tests/unit/linters/nesting/test_library_api.py
  tests/unit/linters/nesting/test_python_nesting.py
  tests/unit/linters/nesting/test_typescript_nesting.py
  tests/unit/linters/nesting/test_violation_messages.py
  tests/unit/linters/srp/test_cli_interface.py
  tests/unit/linters/srp/test_config_loading.py
  tests/unit/linters/srp/test_edge_cases.py
  tests/unit/linters/srp/test_ignore_directives.py
  tests/unit/linters/srp/test_library_api.py
  tests/unit/linters/srp/test_python_srp.py
  tests/unit/linters/srp/test_typescript_srp.py
  tests/unit/linters/srp/test_violation_messages.py
  tests/unit/orchestrator/test_language_detection.py
  tests/unit/orchestrator/test_orchestrator.py
  tests/unit/utils/test_project_root.py
Due: python-ruff, python-flake8, python-pylint, python-bandit, design-linters, no-skip-enforcement

refactor: Eliminate DRY violations with MultiLanguageLintRule base class
  src/core/base.py
  src/linters/magic_numbers/linter.py
  src/linters/nesting/linter.py
  src/linters/srp/linter.py
Due: python-ruff, python-flake8, python-pylint, python-bandit, design-linters, no-skip-enforcement

feat(magic-numbers): Implement TypeScript/JavaScript magic numbers detection (PR3 & PR4) (#36)
  .roadmap/planning/magic-numbers-linter/PROGRESS_TRACKER.md
  src/core/base.py
  src/linters/magic_numbers/linter.py
  src/linters/magic_numbers/typescript_analyzer.py
  src/linters/magic_numbers/violation_builder.py
  src/linters/nesting/linter.py
  src/linters/srp/linter.py
  tests/unit/linters/magic_numbers/test_typescript_magic_numbers.py
Due: python-ruff, python-flake8, python-pylint, python-bandit, design-linters, no-skip-enforcement

Path conditions:
  python-ruff: any of: \.(py)$
  python-flake8: any of: \.(py)$
  python-mypy: any of: ^app/.*\.py$
  python-pylint: any of: \.(py)$
  python-bandit: any of: \.(py)$
  python-xenon: any of: ^app/.*\.py$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  stylelint: any of: ^frontend/.*\.css$
  prettier-check: any of: ^frontend/.*\.(ts|tsx|js|jsx|css)$
  design-linters: any of: \.(py|md)$
  no-skip-enforcement: any of: \.(py|ts|tsx|tf|sh)$
