Repository be-wise-be-kind/thai-lint: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-ruff, python-flake8, python-mypy, python-pylint, python-bandit, python-xenon, typescript-check, eslint, stylelint, prettier-check, design-linters, no-skip-enforcement

python-ruff:
  name: Ruff (Python format + lint)
  ...

python-flake8:
  name: Flake8 (Python style)
  ...

python-mypy:
  name: MyPy (Python type checking)
  ...

python-pylint:
  name: Pylint (Python code analysis)
  ...

python-bandit:
  name: Bandit (Python security)
  ...

python-xenon:
  name: Xenon (Python complexity)
  ...

typescript-check:
  name: TypeScript type checking
  ...

eslint:
  name: ESLint (JavaScript/TypeScript)
  ...

stylelint:
  name: Stylelint (CSS)
  ...

prettier-check:
  name: Prettier (Frontend formatting)
  ...

design-linters:
  name: Custom design linters
  ...

no-skip-enforcement:
  name: Linting rule skip enforcement
  ...

chore(pr4): Update PROGRESS_TRACKER.md with PR4 completion
  .roadmap/python-cli-install/PROGRESS_TRACKER.md
Due: design-linters

feat(pr5): Install python-cli application structure
  .ai/docs/python-cli-architecture.md
  .ai/howtos/python-cli/README.md
  .ai/howtos/python-cli/how-to-add-cli-command.md
  .ai/howtos/python-cli/how-to-create-github-release.md
  .ai/howtos/python-cli/how-to-handle-config-files.md
  .ai/howtos/python-cli/how-to-package-cli-tool.md
  .ai/howtos/python-cli/how-to-publish-to-pypi.md
  .ai/index.yaml
  .ai/templates/python-cli/cli-entrypoint.py.template
  .ai/templates/python-cli/config-loader.py.template
  .ai/templates/python-cli/setup.py.template
  .roadmap/python-cli-install/PROGRESS_TRACKER.md
  README.md
  pyproject.toml
  src/__init__.py
  src/cli.py
  src/config.py
  tests/__init__.py
  tests/test_cli.py
Due: python-ruff, python-flake8, python-pylint, python-bandit, design-linters, no-skip-enforcement

chore(pr5): Update PROGRESS_TRACKER.md with PR5 completion
  .roadmap/python-cli-install/PROGRESS_TRACKER.md
Due: design-linters

fix: Apply framework improvements from ai-projen
  .ai/docs/file-headers.md
  .ai/index.yaml
  .roadmap/python-cli-install/PROGRESS_TRACKER.md
  AGENTS.md
  scripts/validate-cli-setup.sh
Due: design-linters, no-skip-enforcement

fix: Move how-to-roadmap.md to .ai/howtos/ for consistency
  .ai/docs/ROADMAP_WORKFLOW.md
  .ai/howtos/how-to-roadmap.md
  .ai/index.yaml
  .ai/templates/roadmap-ai-context.md.template
  .ai/templates/roadmap-pr-breakdown.md.template
  .ai/templates/roadmap-progress-tracker.md.template
  .roadmap/complete/.gitkeep
  .roadmap/in-progress/.gitkeep
  .roadmap/planning/.gitkeep
  .roadmap/planning/enterprise-linter/PROGRESS_TRACKER.md
  .roadmap/planning/enterprise-linter/PR_BREAKDOWN.md
  AGENTS.md
Due: design-linters

feat: Add enterprise linter roadmap with TDD approach
  .roadmap/planning/enterprise-linter/AI_CONTEXT.md
Due: design-linters

feat: Add environment setup with direnv integration
  .ai/docs/repository/ENVIRONMENT_STANDARDS.md
  .ai/docs/repository/environment-variables-best-practices.md
  .ai/howtos/repository/environment-setup-readme.md
  .ai/index.yaml
  .envrc
Due: design-linters

feat: Add core framework and configuration system (PR1 & PR2)
  .roadmap/complete/python-cli-install/AI_CONTEXT.md
  .roadmap/complete/python-cli-install/PROGRESS_TRACKER.md
  .roadmap/complete/python-cli-install/PR_BREAKDOWN.md
  .roadmap/planning/enterprise-linter/PROGRESS_TRACKER.md
  AGENTS.md
  src/core/__init__.py
  src/core/base.py
  src/core/registry.py
  src/core/types.py
  src/linter_config/__init__.py
  src/linter_config/ignore.py
  src/linter_config/loader.py
  tests/unit/__init__.py
  tests/unit/core/__init__.py
  tests/unit/core/test_base_interfaces.py
  tests/unit/core/test_rule_registry.py
  tests/unit/linter_config/__init__.py
  tests/unit/linter_config/test_config_loader.py
  tests/unit/linter_config/test_ignore_directives.py
Due: python-ruff, python-flake8, python-pylint, python-bandit, design-linters, no-skip-enforcement

feat: Add multi-language orchestrator and file placement test suite (PR3 & PR4)
  .roadmap/planning/enterprise-linter/PROGRESS_TRACKER.md
  src/orchestrator/__init__.py
  src/orchestrator/core.py
  src/orchestrator/language_detector.py
  tests/unit/linters/file_placement/__init__.py
  tests/unit/linters/file_placement/test_allow_patterns.py
  tests/unit/linters/file_placement/test_cli_interface.py
  tests/unit/linters/file_placement/test_config_loading.py
  tests/unit/linters/file_placement/test_deny_patterns.py
  tests/unit/linters/file_placement/test_directory_scoping.py
  tests/unit/linters/file_placement/test_ignore_directives.py
  tests/unit/linters/file_placement/test_library_api.py
  tests/unit/linters/file_placement/test_output_formatting.py
  tests/unit/orchestrator/__init__.py
  tests/unit/orchestrator/test_language_detection.py
  tests/unit/orchestrator/test_orchestrator.py
Due: python-ruff, python-flake8, python-pylint, python-bandit, design-linters, no-skip-enforcement

feat: Add file placement linter implementation (PR5)
  .ai/docs/DOCUMENTATION_STANDARDS.md
  .ai/howtos/how-to-write-file-headers.md
  .roadmap/in-progress/enterprise-linter/AI_CONTEXT.md
  .roadmap/in-progress/enterprise-linter/PROGRESS_TRACKER.md
  .roadmap/in-progress/enterprise-linter/PR_BREAKDOWN.md
  CLAUDE.md
  pyproject.toml
  src/__init__.py
  src/cli.py
  src/config.py
  src/core/__init__.py
  src/core/base.py
  src/core/registry.py
  src/core/types.py
  src/linter_config/__init__.py
  src/linter_config/ignore.py
  src/linter_config/loader.py
  src/linters/__init__.py
  src/linters/file_placement/__init__.py
  src/linters/file_placement/linter.py
  src/orchestrator/__init__.py
  src/orchestrator/core.py
  src/orchestrator/language_detector.py
  tests/test_cli.py
  tests/unit/core/test_base_interfaces.py
  tests/unit/core/test_rule_registry.py
  tests/unit/linter_config/test_config_loader.py
  tests/unit/linter_config/test_ignore_directives.py
  tests/unit/linters/file_placement/test_allow_patterns.py
  tests/unit/linters/file_placement/test_cli_interface.py
  tests/unit/linters/file_placement/test_config_loading.py
  tests/unit/linters/file_placement/test_deny_patterns.py
  tests/unit/linters/file_placement/test_directory_scoping.py
  tests/unit/linters/file_placement/test_ignore_directives.py
  tests/unit/linters/file_placement/test_library_api.py
  tests/unit/linters/file_placement/test_output_formatting.py
  tests/unit/orchestrator/test_language_detection.py
  tests/unit/orchestrator/test_orchestrator.py
Due: python-ruff, python-flake8, python-pylint, python-bandit, design-linters, no-skip-enforcement

feat: Add file placement integration with orchestrator (PR6)
  .flake8
  .roadmap/in-progress/enterprise-linter/PROGRESS_TRACKER.md
  Makefile
  pyproject.toml
  src/__init__.py
  src/linters/file_placement/linter.py
  src/orchestrator/core.py
  tests/unit/integration/__init__.py
  tests/unit/integration/test_file_placement_integration.py
Due: python-ruff, python-flake8, python-pylint, python-bandit, design-linters, no-skip-enforcement

refactor: Reduce cyclomatic complexity to A-grade across codebase
  Makefile
  src/cli.py
  src/config.py
  src/linter_config/ignore.py
  src/linters/file_placement/linter.py
  src/orchestrator/language_detector.py
Due: python-ruff, python-flake8, python-pylint, python-bandit, design-linters, no-skip-enforcement

feat: Add CLI interface for file placement linter (PR7)
  .roadmap/in-progress/enterprise-linter/PROGRESS_TRACKER.md
  .thailint.yaml
  Makefile
  src/cli.py
  tests/unit/linters/file_placement/test_cli_interface.py
Due: python-ruff, python-flake8, python-pylint, python-bandit, design-linters, no-skip-enforcement

refactor: Add parameterized linting targets for pre-commit hooks
  .pre-commit-config.yaml
  Makefile
Due: none

docs: Update AGENTS.md with quality gates and validation process
  AGENTS.md
Due: design-linters

feat: Add Library API and Docker support (PRs 8 & 9)
  .dockerignore
  .roadmap/in-progress/enterprise-linter/PROGRESS_TRACKER.md
  Dockerfile
  Makefile
  docker-compose.yml
  examples/README.md
  examples/advanced_usage.py
  examples/basic_usage.py
  examples/ci_integration.py
  src/__init__.py
  src/api.py
  src/cli.py
  tests/test_cli.py
  tests/unit/api/__init__.py
  tests/unit/api/test_library_api.py
  tests/unit/docker/__init__.py
  tests/unit/docker/test_docker_integration.py
  tests/unit/linters/file_placement/test_config_loading.py
  tests/unit/linters/file_placement/test_directory_scoping.py
Due: python-ruff, python-flake8, python-pylint, python-bandit, design-linters, no-skip-enforcement

fix: Configure gitleaks to fetch full git history
  .envrc
  .github/workflows/security.yml
Due: none

feat: Complete enterprise linter v0.1.0 with multi-linter architecture
  .ai/layout.yaml
  .github/workflows/publish-pypi.yml
  .roadmap/complete/enterprise-linter/AI_CONTEXT.md
  .roadmap/complete/enterprise-linter/PROGRESS_TRACKER.md
  .roadmap/complete/enterprise-linter/PR_BREAKDOWN.md
  .thailint.yaml
  CHANGELOG.md
  Dockerfile
  MANIFEST.in
  Makefile
  README.md
  docs/api-reference.md
  docs/cli-reference.md
  docs/configuration.md
  docs/deployment-modes.md
  docs/file-placement-linter.md
  docs/getting-started.md
  docs/releasing.md
  examples/.thailint.json.example
  examples/.thailint.yaml.example
  pyproject.toml
  src/__init__.py
  src/cli.py
  src/config.py
  src/linters/file_placement/linter.py
  tests/integration/__init__.py
  tests/integration/test_e2e_cli.py
  tests/integration/test_e2e_docker.py
  tests/integration/test_e2e_library.py
  tests/integration/test_performance.py
  tests/integration/test_real_world.py
  tests/unit/docker/test_docker_integration.py
  tests/unit/integration/test_file_placement_integration.py
  tests/unit/linters/file_placement/test_allow_patterns.py
  tests/unit/linters/file_placement/test_cli_interface.py
  tests/unit/linters/file_placement/test_config_loading.py
  tests/unit/linters/file_placement/test_deny_patterns.py
  tests/unit/linters/file_placement/test_output_formatting.py
Due: python-ruff, python-flake8, python-pylint, python-bandit, design-linters, no-skip-enforcement

style: Fix linting issues from make lint-full
  src/cli.py
  tests/integration/test_e2e_docker.py
  tests/unit/linters/file_placement/test_config_swap.py
Due: python-ruff, python-flake8, python-pylint, python-bandit, design-linters, no-skip-enforcement

feat: Enterprise linter v0.1.0 with multi-linter architecture (#1)
  .ai/layout.yaml
  .github/workflows/publish-pypi.yml
  .roadmap/complete/enterprise-linter/AI_CONTEXT.md
  .roadmap/complete/enterprise-linter/PROGRESS_TRACKER.md
  .roadmap/complete/enterprise-linter/PR_BREAKDOWN.md
  .thailint.yaml
  CHANGELOG.md
  Dockerfile
  MANIFEST.in
  Makefile
  README.md
  docs/api-reference.md
  docs/cli-reference.md
  docs/configuration.md
  docs/deployment-modes.md
  docs/file-placement-linter.md
  docs/getting-started.md
  docs/releasing.md
  examples/.thailint.json.example
  examples/.thailint.yaml.example
  pyproject.toml
  src/__init__.py
  src/cli.py
  src/config.py
  src/linters/file_placement/linter.py
  tests/integration/__init__.py
  tests/integration/test_e2e_cli.py
  tests/integration/test_e2e_docker.py
  tests/integration/test_e2e_library.py
  tests/integration/test_performance.py
  tests/integration/test_real_world.py
  tests/unit/docker/test_docker_integration.py
  tests/unit/integration/test_file_placement_integration.py
  tests/unit/linters/file_placement/test_allow_patterns.py
  tests/unit/linters/file_placement/test_cli_interface.py
  tests/unit/linters/file_placement/test_config_loading.py
  tests/unit/linters/file_placement/test_config_swap.py
  tests/unit/linters/file_placement/test_deny_patterns.py
  tests/unit/linters/file_placement/test_output_formatting.py
Due: python-ruff, python-flake8, python-pylint, python-bandit, design-linters, no-skip-enforcement

feat: Add comprehensive test suite for nesting depth linter (PR1)
  .roadmap/planning/nesting-linter/AI_CONTEXT.md
  .roadmap/planning/nesting-linter/PROGRESS_TRACKER.md
  .roadmap/planning/nesting-linter/PR_BREAKDOWN.md
  tests/unit/linters/nesting/__init__.py
  tests/unit/linters/nesting/test_cli_interface.py
  tests/unit/linters/nesting/test_config_loading.py
  tests/unit/linters/nesting/test_edge_cases.py
  tests/unit/linters/nesting/test_ignore_directives.py
  tests/unit/linters/nesting/test_library_api.py
  tests/unit/linters/nesting/test_python_nesting.py
  tests/unit/linters/nesting/test_typescript_nesting.py
  tests/unit/linters/nesting/test_violation_messages.py
Due: python-ruff, python-flake8, python-pylint, python-bandit, design-linters, no-skip-enforcement

feat: Add comprehensive test suite for nesting depth linter (PR1) (#2)
  .roadmap/planning/nesting-linter/AI_CONTEXT.md
  .roadmap/planning/nesting-linter/PROGRESS_TRACKER.md
  .roadmap/planning/nesting-linter/PR_BREAKDOWN.md
  tests/unit/linters/nesting/__init__.py
  tests/unit/linters/nesting/test_cli_interface.py
  tests/unit/linters/nesting/test_config_loading.py
  tests/unit/linters/nesting/test_edge_cases.py
  tests/unit/linters/nesting/test_ignore_directives.py
  tests/unit/linters/nesting/test_library_api.py
  tests/unit/linters/nesting/test_python_nesting.py
  tests/unit/linters/nesting/test_typescript_nesting.py
  tests/unit/linters/nesting/test_violation_messages.py
Due: python-ruff, python-flake8, python-pylint, python-bandit, design-linters, no-skip-enforcement

feat: Implement nesting depth linter core functionality (PR2)
  .roadmap/planning/nesting-linter/PROGRESS_TRACKER.md
  src/linters/nesting/__init__.py
  src/linters/nesting/config.py
  src/linters/nesting/linter.py
  src/linters/nesting/python_analyzer.py
  src/linters/nesting/typescript_analyzer.py
Due: python-ruff, python-flake8, python-pylint, python-bandit, design-linters, no-skip-enforcement

fix: Correct Violation attribute from 'file' to 'file_path' in tests
  tests/integration/test_real_world.py
Due: python-ruff, python-flake8, python-pylint, python-bandit, design-linters, no-skip-enforcement

feat: Add nesting depth linter configuration to .thailint.yaml
  .thailint.yaml
Due: none

refactor: Standardize config structure to match file-placement pattern
  .thailint.yaml
  src/linters/nesting/linter.py
  tests/unit/linters/nesting/test_config_loading.py
  tests/unit/linters/nesting/test_library_api.py
Due: python-ruff, python-flake8, python-pylint, python-bandit, design-linters, no-skip-enforcement

docs: Add nesting linter to README and example configs
  README.md
  examples/.thailint.json.example
  examples/.thailint.yaml.example
Due: design-linters

feat: Implement TypeScript analyzer with tree-sitter and refactor to A-grade complexity
  .roadmap/planning/nesting-linter/PROGRESS_TRACKER.md
  AGENTS.md
  pyproject.toml
  src/__init__.py
  src/cli.py
  src/linter_config/ignore.py
  src/linters/nesting/__init__.py
  src/linters/nesting/linter.py
  src/linters/nesting/typescript_analyzer.py
  src/orchestrator/core.py
  tests/unit/integration/test_nesting_integration.py
  tests/unit/linters/nesting/test_cli_interface.py
Due: python-ruff, python-flake8, python-pylint, python-bandit, design-linters, no-skip-enforcement

fix: Add .thailintignore file to exclude .venv/ and build artifacts
  .thailintignore
Due: none

feat: Implement TypeScript analyzer with tree-sitter and refactor to … (#3)
  .roadmap/planning/nesting-linter/PROGRESS_TRACKER.md
  .thailintignore
  AGENTS.md
  pyproject.toml
  src/__init__.py
  src/cli.py
  src/linter_config/ignore.py
  src/linters/nesting/__init__.py
  src/linters/nesting/linter.py
  src/linters/nesting/typescript_analyzer.py
  src/orchestrator/core.py
  tests/unit/integration/test_nesting_integration.py
  tests/unit/linters/nesting/test_cli_interface.py
Due: python-ruff, python-flake8, python-pylint, python-bandit, design-linters, no-skip-enforcement

feat(nesting): Complete PR4 dogfooding discovery
  .roadmap/planning/nesting-linter/PROGRESS_TRACKER.md
  .roadmap/planning/nesting-linter/VIOLATIONS.md
  .thailint.yaml
  Makefile
Due: design-linters

feat(nesting): Complete PR4 dogfooding discovery (#4)
  .roadmap/planning/nesting-linter/PROGRESS_TRACKER.md
  .roadmap/planning/nesting-linter/VIOLATIONS.md
  .thailint.yaml
  Makefile
Due: design-linters

feat(nesting): Fix all 23 nesting violations via refactoring (PR5)
  .roadmap/in-progress/nesting-linter/AI_CONTEXT.md
  .roadmap/in-progress/nesting-linter/PROGRESS_TRACKER.md
  .roadmap/in-progress/nesting-linter/PR_BREAKDOWN.md
  .roadmap/in-progress/nesting-linter/VIOLATIONS.md
  examples/ci_integration.py
  src/.ai/layout.yaml
  src/cli.py
  src/config.py
  src/core/registry.py
  src/linters/file_placement/linter.py
  src/linters/nesting/linter.py
  src/orchestrator/core.py
  src/orchestrator/language_detector.py
  tests/integration/test_e2e_cli.py
  tests/integration/test_e2e_docker.py
  tests/integration/test_performance.py
  tests/integration/test_real_world.py
Due: python-ruff, python-flake8, python-pylint, python-bandit, design-linters, no-skip-enforcement

feat(nesting): Fix all 23 nesting violations via refactoring (PR5) (#5)
  .roadmap/in-progress/nesting-linter/AI_CONTEXT.md
  .roadmap/in-progress/nesting-linter/PROGRESS_TRACKER.md
  .roadmap/in-progress/nesting-linter/PR_BREAKDOWN.md
  .roadmap/in-progress/nesting-linter/VIOLATIONS.md
  examples/ci_integration.py
  src/.ai/layout.yaml
  src/cli.py
  src/config.py
  src/core/registry.py
  src/linters/file_placement/linter.py
  src/linters/nesting/linter.py
  src/orchestrator/core.py
  src/orchestrator/language_detector.py
  tests/integration/test_e2e_cli.py
  tests/integration/test_e2e_docker.py
  tests/integration/test_performance.py
  tests/integration/test_real_world.py
Due: python-ruff, python-flake8, python-pylint, python-bandit, design-linters, no-skip-enforcement

feat(nesting): Complete PR6 documentation and deployment readiness
  CHANGELOG.md
  Dockerfile
  LICENSE
  README.md
  docs/cli-reference.md
  docs/nesting-linter.md
  examples/nesting_usage.py
  pyproject.toml
Due: python-ruff, python-flake8, python-pylint, python-bandit, design-linters, no-skip-enforcement

feat(nesting): Complete PR6 documentation and deployment readiness (#6)
  CHANGELOG.md
  Dockerfile
  LICENSE
  README.md
  docs/cli-reference.md
  docs/nesting-linter.md
  examples/nesting_usage.py
  pyproject.toml
Due: python-ruff, python-flake8, python-pylint, python-bandit, design-linters, no-skip-enforcement

feat: Add publishing infrastructure for PyPI and Docker Hub
  .env.example
  Dockerfile
  Makefile
  README.md
  docker-compose.yml
  docs/pre-commit-hooks.md
  docs/publishing-checklist.md
  pyproject.toml
  src/.ai/layout.yaml
  tests/integration/test_e2e_docker.py
Due: python-ruff, python-flake8, python-pylint, python-bandit, design-linters, no-skip-enforcement

feat: Add publishing infrastructure for PyPI and Docker Hub (#7)
  .env.example
  Dockerfile
  Makefile
  README.md
  docker-compose.yml
  docs/pre-commit-hooks.md
  docs/publishing-checklist.md
  pyproject.toml
  src/.ai/layout.yaml
  tests/integration/test_e2e_docker.py
Due: python-ruff, python-flake8, python-pylint, python-bandit, design-linters, no-skip-enforcement

feat: Implement dynamic versioning and interactive version bumping
  Dockerfile
  Makefile
  pyproject.toml
  src/__init__.py
Due: python-ruff, python-flake8, python-pylint, python-bandit, design-linters, no-skip-enforcement

feat: Implement dynamic versioning and interactive version bumping (#8)
  Dockerfile
  Makefile
  pyproject.toml
  src/__init__.py
Due: python-ruff, python-flake8, python-pylint, python-bandit, design-linters, no-skip-enforcement

Path conditions:
  python-ruff: any of: \.(py)$
  python-flake8: any of: \.(py)$
  python-mypy: any of: ^app/.*\.py$
  python-pylint: any of: \.(py)$
  python-bandit: any of: \.(py)$
  python-xenon: any of: ^app/.*\.py$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  stylelint: any of: ^frontend/.*\.css$
  prettier-check: any of: ^frontend/.*\.(ts|tsx|js|jsx|css)$
  design-linters: any of: \.(py|md)$
  no-skip-enforcement: any of: \.(py|ts|tsx|tf|sh)$
